# Local Collaboration Logs
collab_logs/

# Python Virtual Environments & Caches
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Local Environment Variables & Secrets
.env
.env.local

# IDE Configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
